html {
  background: #fff url(../images/site/html.jpg) repeat;
}

body {
  font-family: Georgia, serif;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.site {
  background-color: rgba(168, 124, 62, 0.8);
  border: 1px solid black;
  width: 960px;
  min-height: 630px;
  padding-bottom: 3rem;
  margin: 20px auto 0;
}

.logo {
  padding: 5px;
  position: absolute;
}

#dartRankings {
  text-align: center;
}

.image {
  border: 3px solid black;
  padding: 2px;
}

.entryListItem {
  display: inline-block;
  padding-bottom: 1rem;
  margin: 10px;
  margin-bottom: 1rem;
  list-style-type: none;
}

.entryInfo {
  list-style-type: none;
  text-align: left;
  text-align: center;
  margin-bottom: 5px;
  margin-left: -50px;
}

#copy {
  text-align: center;
  color: black;
  font-size: 22px;
  padding: 2rem;
  margin: 10px auto 0;
  width: 600px;
}

#allEntries {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  width: 750px;
  background-color: rgba(201, 191, 183, 0.8);
  border: 1px solid black;
}

.bgColorImage {
  background-color: rgba(80, 150, 150, 0.8);
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
