html {
  background-color: white;
}

body {
  font-family: Georgia, serif;
  padding-bottom: 3rem;
}

.site {
  background-color: #FFD577;
  background-image: url(../images/corkboard.png);
  width: 960px;
  min-height: 630px;
  padding-bottom: 3rem;
  margin: 20px auto 0;
}

.logo {
  margin-left: 36.1rem;
  margin-top: 2.7rem;
  position: absolute;
}

#dartRankings {
  text-align: center;
  background-color: rgba(240, 240, 240, 0.9);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: -1.3rem;
  font-family: Century Gothic, Helvetica, Franklin Gothic Medium, sans-serif;
}

.image {
  padding: 2px;
}

.entryListItem {
  display: inline-block;
  background-color: rgba(240, 240, 240, 0.9);
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin: 10px;
  margin-bottom: 1rem;
  list-style-type: none;
  font-family: Century Gothic, Helvetica, Franklin Gothic Medium, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.entryInfo {
  list-style-type: none;
  text-align: left;
  margin-bottom: 5px;
}

#copy {
  text-align: center;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: 100% 95px;
  color: rgba(250, 250, 250, 0.95);
  font-size: 20px;
  padding-top: 34px;
  margin: 10px auto;
  width: 300px;
  height: 40px;
  font-family: Century Gothic, Helvetica, Franklin Gothic Medium, sans-serif;
}

#allEntries {
  padding: 20px;
  margin: 0 auto;
  margin-top: -1rem;
  width: 750px;
}

#allEntries a {
  margin-left: 5rem;
}

.bgColorImage a:hover {
  color: #920B12;
}

.scoreChip {
  background-color: #920B12;
  color: white;
  border-radius: 50%;
  height: 2.1rem;
  max-width: 2.1rem;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 4rem;
  margin-top: -3rem;
}

.playerName {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.playerScore {
  display: inline-block;
  text-align: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-top: -0.5rem;
}

.playerRank {
  padding-top: 0.75rem;
  margin-left: 3rem;
}

.formDarts {
  text-align: left;
  background-color: rgba(250, 250, 250, 0.95);
  width: 25%;
  margin-left: 37.5%;
  margin-bottom: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
  font-family: Century Gothic, Helvetica, Franklin Gothic Medium, sans-serif;
}

.formGroup {
  margin-left: 1rem;
}

#playDarts {
  margin-left: 1rem;
  padding-top: 0.5rem;
  font-weight: bold;
  font-family: Century Gothic, Helvetica, Franklin Gothic Medium, sans-serif;
}