<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Dart Rankings</title>
  <link rel="stylesheet" href="css/globalStyles.css">
</head>

<body>

  <div class="site">

    <div class="logo">  
      <img src="images/site/logo.png" width="207" height="124" alt="Darts" />
    </div>

    <div id="allEntries"></div>

    <div id="copy"></div>

  </div> 

    <script id="entryElement" type="text/template">
      <a href="#<%= link %>"><img src="<%= img %>" alt="<%= name %>" class="image" /></a>
      <ul>
        <li class="entryInfo"><strong>Name:</strong> <%= name %></li>
        <li class="entryInfo"><strong>Score:</strong> <%= score %></li>
        <li class="entryInfo"><strong>Rank:</strong> </li>
      </ul>
    </script>


  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  
  <script src="js/models/singleEntryModel.js"></script>
  <script src="js/views/singleEntryView.js"></script>
  <script src="js/views/allEntriesView.js"></script>
  <script src="js/collections/allEntries.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/entryApp.js"></script>

</body>
</html>