<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Dart Rankings</title>
  <link rel="stylesheet" href="css/globalStyles.css">
</head>

<body>

  <div class="site">
    <div class="logo">  
      <img src="images/site/logo.png" width="207" height="124" alt="Darts" />
    </div>

    <h1 id="dartRankings">Dart Rankings!</h1>

    <div id="copy"></div>
  
    <div class="formDarts">    
      <form role="form">
        <div id="playDarts">Play Darts</div>

        <div class="formGroup">
          <label for="score">Score</label>
          <input type="text" id="score" name="score" />
        </div>

        <div class="formGroup">
          <label for="name" class="control-label">Name</label>
          <select id="name" name="name">
            <option>Jack</option>
            <option>Jill</option>
            <option>Mary</option>
          </select>
        </div>
          <button type="button" id="submitButton" class="formGroup">Add to Rankings</button>
      </form>
    </div>
   
    <div id="allEntries"></div>


  </div> 

    <script id="entryElement" type="text/template">
      <ul>
        <a href="#<%= link %>"><li class="entryInfo"> <div class="playerName"><%= name %></div></li></a>
        <li class="playerScore"> Score: </li> <div class="scoreChip"><%= score %></div>
        <li class="entryInfo playerRank"><strong>Rank:</strong> <%= rank %></li>
      </ul>
    </script>



  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  
  <script src="js/models/singleEntryModel.js"></script>
  <script src="js/views/singleEntryView.js"></script>
  <script src="js/views/allEntriesView.js"></script>
  <script src="js/collections/allEntries.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/entryApp.js"></script>

</body>
</html>